/*csslint ids: false, box-model: false*/


/************************************************
                   GENERAL
*************************************************/

#titlecenter {
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
}

#black {
    color: black;
}

body {
    background: url(../img/Background-black.png);
    height: 100%;
    width: 100%;
}

#colorp {
    color: white;
    font-size: 16px;
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    position: fixed;
    width: 100%;
}

a {
    color: aqua;
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 5%;
    padding-top: 200px;
}

#logo {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

#titleIndex {
    color: white;
    text-align: center;
}


/************************************************
                   NAVIGATION
*************************************************/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 600;
    padding: 15px 10px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
}

h1 {
    color: black;
    text-align: center;
    width: 100%;
}

p {
    color: white;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}

.open {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.open:hover {
    opacity: 1;
}

.open span {
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 40px;
    border-radius: 40px;
    background-color: black;
    position: absolute;
    right: 3px;
    top: 3px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.open span:nth-child(1) {
    margin-top: 10px;
    z-index: 9;
}

.open span:nth-child(2) {
    margin-top: 25px;
}

.open span:nth-child(3) {
    margin-top: 40px;
}

.sub-menu {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(26, 175, 244, 0.70);
    border-radius: 50%;
    z-index: 18;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 45px;
}

.sub-menu li {
    clear: both;
    display: block;
    float: right;
    height: auto;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin-right: -160px;
}

.sub-menu li a {
    color: black;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
    float: left;
    line-height: 40px;
    font-weight: 300;
}

.oppenned .sub-menu {
    opacity: 1;
    height: 400px;
    width: 400px;
}

.oppenned span:nth-child(2) {
    overflow: visible;
}

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
    z-index: 100;
    transform: rotate(45deg);
}

.oppenned span:nth-child(1) {
    transform: rotate(45deg) translateY(12px) translateX(12px);
}

.oppenned span:nth-child(2) {
    height: 400px;
    width: 400px;
    right: -160px;
    top: -160px;
    border-radius: 50%;
    background-color: rgba(26, 175, 244, 0.95);
}

.oppenned span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px) translateX(10px);
}

.oppenned li {
    margin-right: 168px;
}


/************************************************
                   FOOTER
*************************************************/

footer {
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon {
    height: 50px;
    margin: 0 5px;
    width: 50px;
}


/************************************************
               PAGE PORTFOLIO
*************************************************/

#titlesAndText {
    font-size: 20px;
    color: black;
}

#modalText {
    color: black;
    font-size: 20px;
}

h4 {
    color: black;
    text-align: center;
}

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: lightgrey;
    color: blue;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li p {
    color: black;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}


/************************************************
                ABOUT ME PAGE
*************************************************/

.profile-photo {
    border-radius: 15%;
    display: block;
    max-width: 500px;
}

#Programs {
    color: white;
    text-align: center;
}

#accordion {
    text-align: center;
    margin-left: 550px;
    text-align: center;
}

h3 {
    text-align: center;
}


/************************************************
                CONTACT ME PAGE
*************************************************/

#footerp {
    float: left;
    padding-left: 130px;
    text-align: center;
}

#centertext {
    padding-right: 70px;
}

.contact-info a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact-info .mail a {
    background-image: url('../img/mail.png');
}

.contact-info .twitter a {
    background-image: url('../img/twitter.png');
}

#contactTextColor {
    color: black;
}


/************************************************
                   COLORS
*************************************************/

header {
    background: rgba(47, 149, 197, 1);
}

nav {
    background: darkgray;
}


/*psudeo class so when link has bbeen clicked on it will stay the same*/

nav a,
nav a:visited {
    color: #fff;
}

nav .selected,
nav a:hover {
    color: darkblue;
}


/************************************************
                   Media query
*************************************************/

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    #fix {
        float: left;
    }
    #gallery li {
        width: 28.3333%;
    }
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        color: #fff;
        font-family: 'Exo 2', sans-serif;
        font-size: 2.5em;
        margin: 15px 0;
    }
    h2 {
        color: #fff;
        font-size: 0.825;
        font-size: 0.75em;
        font-weight: normal;
        margin: -5px 0 0;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}